@use 'vars' as *;
@use 'functions' as *;

%box {
  background-color: #fff;
  border-radius: $border-radius;
  padding: clamp(1.5em, 5vw, 2em);

  display: flex;
  flex-flow: column;
}

%element-disabled {
  content: '';
  background-color: lighten(fn-color(neutral-gray), 100%);
  opacity: 0.5;
  position: absolute;
  inset: 0;
  border-radius: $border-radius;
}
