@use '../abstracts' as *;
.card {
  position: relative;
  @extend %box;
  border: 1px solid lighten(fn-color(neutral-gray), 40%);
  font-size: clamp(0.875rem, 0.7143rem + 0.7143vw, 1rem);

  @include mq(small) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
  }
  div:where(:not(:first-child):not(:last-child)) {
    margin-bottom: 2em;
    @include mq(small) {
      margin: 0;
    }
  }
  &__title {
    font-weight: fn-weight(bold);
    margin-bottom: 0.5em;
    @include mq(small) {
      margin: 0;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    gap: 0.3em;
    font-size: 2em;
  }
  // añadir un disabled al ultimo card hijo
  &:last-child::before {
    @extend %element-disabled;
  }
}
