@use '../abstracts' as *;
.progress {
  width: 100%;
  height: 12px;
  border-radius: $border-radius;
  background-color: lighten(fn-color(neutral-gray), 40%);
  overflow: hidden;
}
.progress__bar {
  width: 70%;
  height: 100%;
  border-radius: $border-radius;
  background-color: fn-color(primary-cyan);
}
