@use '../abstracts' as *;
.secondary {
  @extend %box;

  align-items: center;
  text-align: center;
  gap: 1.3em;
  @include mq(small) {
    text-align: left;

    flex-direction: row;
    flex-wrap: wrap;
  }
  &__amount {
    font-size: 2em;
  }

  div:nth-child(2) {
    border-top: 1px solid lighten(fn-color(neutral-gray), 40%);
    border-bottom: 1px solid lighten(fn-color(neutral-gray), 40%);
    padding: 1.5em 0;
    @include mq(small) {
      border-top: none;
      border-bottom: none;
      border-left: 1px solid lighten(fn-color(neutral-gray), 40%);
      border-right: 1px solid lighten(fn-color(neutral-gray), 40%);
      padding: 0 3em 0 2em;
    }
  }
}
