@use '../abstracts' as *;

main {
  background-color: lighten(fn-color(neutral-gray), 45%);
  padding-bottom: 4rem;
}
img {
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
span {
  color: fn-color(primary-cyan);
  display: block;
}
label:hover {
  color: fn-color(primary-cyan);
  cursor: pointer;
}
