@use '../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

body {
  font-family: 'Commissioner', sans-serif;
  color: fn-color(neutral-black);
  font-weight: fn-weight(bold);
}
p {
  font-size: clamp(0.875rem, 0.7143rem + 0.7143vw, 1rem);
  color: fn-color(neutral-gray);
  font-weight: fn-weight(regular);
}
h1 {
  font-size: clamp(1.3rem, 0.7857rem + 2.2857vw, 1.7rem);
}
